.input-login {
    border-radius: 10px;
    background: #F1F1F1 !important;
}

.btn-login {
    border-radius: 10px;
    background: #F00;
    width: 330px;
    height: 52px;
    border-color: #F00;
}

.btn-login:hover {
    background: red;
}

.btn-login:active {
    background: maroon !important;
}

.btn-status {
    width: 47%;
    height: 65px;
    border-radius: 15px;
    font-weight: 600;
    border-color: #F00;
    color: #F00;
}

.btn-status:hover {
    background: #F00;
}

.active {
    background: #F00 !important;
}

/* .btn-status:active {
    background: #F00;
} */

.btn-status-active {
    width: 47%;
    height: 65px;
    border-radius: 15px;
    font-weight: 600;
    border-color: #F00;
    color: white;
    background: #F00 !important;
}